// Define variables for your color scheme

// For example:
//$red: #FD1015;
$blue: #167FFB;
//$yellow: #FFC65A;
$orange: #E67E22;
//$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Social Book Club Colors

$pink: #FEACBA;
$green: #88CE8F;
$yellow: #FFDE91;
$purple: #D4A1E3;
$dark-purple: #2C1138;
$red: #E14F52;
$background-color: #F3EDED;

.pink {
    background-color: pink !important;
}