body {
  background-color: #F3EDED;
}


.background-create-wrapper-1 {
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  // margin: -20px;
  padding: 80px;
  background-color: $yellow;
}

.background-create-wrapper-2 {
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  // margin: -20px;
  padding: 80px;
  background-color: $green;
}


.background-create-wrapper-3 {
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  // margin: -20px;
  padding: 80px;
  background-color: $purple;
}



.nested-create-form {
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  // margin: 50px;
  background-color: white;
}

#header-create-form {
  color: $red;
  text-align: center;
  // padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}


#header-create-form h2 {
  text-align: center;
  padding-top: 15px;
}

#header-create-bookclub-form {
  color: $red;
  text-align: center;
  // padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

#header-create-bookclub-form h2 {
  text-align: center;
  padding-top: 30px;
}

#figure-reading-create {
  height: 100px;
}

#figure-reading-thread {
  height: 130px;
}




