body {
  background-color: #F3EDED;
}


.background-create-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  // margin: -20px;
  padding: 80px;
  background-color: $yellow;
}
.nested-create-form {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  margin: 50px;
  background-color: white;
}

#header-create-form {
  color: $red;
  text-align: center;
  padding-bottom: 40px;
}
