body {
  background-color: #F3EDED;
}


.background-create-wrapper-1 {
  margin-top: 80px;
  margin-bottom: 80px;
  // margin: -20px;
  padding: 80px;
  background-color: $yellow;
}

.background-create-wrapper-2 {
  margin-top: 80px;
  margin-bottom: 80px;
  // margin: -20px;
  padding: 80px;
  background-color: $green;
}


.background-create-wrapper-3 {
  margin-top: 80px;
  margin-bottom: 80px;
  // margin: -20px;
  padding: 80px;
  background-color: $purple;
}



.nested-create-form {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  margin: 50px;
  background-color: white;
}

#header-create-form {
  color: $red;
  text-align: center;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}


#header-create-form h2 {
  padding-top: 35px;
}

#figure-reading-create {
  height: 150px;
}





