.book-card {
  border-radius: 4px;
  position: relative;
  bottom: 40px;
  left: 9%;
  width: 600px;
  height: 400px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  background-color: $yellow;
  padding-left: 250px;
}

.book-details {
  width: 100%;
}

.avatar-book {
  height: 250px;
  width: 150px;
  position: absolute;
  top: -80px;
  left: -200px;
}

.btn-booking {
  color: $red;
  padding: 24px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;

  & :hover {
    opacity: 0.8;
  }
}
