.modal-dialog{
    overflow-y: initial !important
}
#modal-booking{
    .modal-content{
        background-color: transparent !important;
        border: none;
    }
}
#modal-books{
    .modal-content{
        height: 80vh;
        overflow-y: auto;
        background-color: #F3EDED !important;
        padding: 30px;
        border: none;
        h1{
            font-weight: 600;
            margin-bottom: 26px;
        }
    }

}
