.profile-wrapper{
    position: relative;
    width: 50%;
    height: 606px;
    margin-top: 170px;
    border-radius: 4px;
    h1, p, a {
        color: $dark-purple;
    }
}

.bookclubs-books-wrapper{
    margin-left: 50px;
    position: relative;
    top: 10%;

    .bookclubs-wrapper{
        background-color: white;
        width: 500px;
        height: 127px;
        border-radius: 20px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            background: 50% 50% no-repeat;
            width: 83px;
            height: 83px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .books-wrapper{
        background-color: white;
        width: 500px;
        height: 130px;
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            background: 50% 50% no-repeat;
            width: 93px;
            height: 93px;
            border-radius: 4px;
            object-fit: cover;
        }
    }
}

.booking-wrapper{
    width: 50%;
    padding: 35px;
    border-radius: 4px;

    h1{
        font-weight: 600;
        color: $dark-purple;
    }
}

.profile-user-info{
    display: flex;
    padding: 50px;
    align-items: flex-end;
    h1{
        font-size: 44px;
        font-weight: bold;
        margin-right: 26px;
    }
    p{
        i{
            margin-right: 6px;
        }
    }
}

.profile-about-me{
    position: absolute;
    top: 20%;
}
