<!-- <div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Create a booking for this book</h2>

    <%#= simple_form_for [@book, @booking] do |f| %>
      <%#= f.input :from, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%#= f.input :until, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%#= f.button :submit, "Create booking request", class: "btn btn-primary" %>
    <%# end %>
  </div>
</div> -->

<div class="container">
  <div class="background-create-wrapper">
    <div id="form-wrapper">
      <div id="create-book-box m-8">
        <div class="nested-create-form m-8">
          <div id="header-create-form">
            <h2>Create a booking for this book</h2>
          </div>
          <%= simple_form_for [@book, @booking] do |f| %>
            <%= f.input :from, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :until, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Create booking request", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%#= simple_form_for [@book, @booking] do |f| %>
            <%#= f.input :from %>
            <%#= f.input :until %>
            <%#= f.submit class: "btn btn-danger mt-3" %>
          <%# end %>
