<div class="footer">
  <%= image_tag "social.png", id:"logo-footer" %>
  <%= link_to "About us", about_path, id:"about-us-link" %>
  <div style="margin-top: 13px;">
    <p>Made with LOVE ❤️ from <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a></p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/Puresturheit/social_book_club" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://github.com/Puresturheit/social_book_club" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/Puresturheit/social_book_club" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://github.com/Puresturheit/social_book_club" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/Puresturheit/social_book_club" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
