<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img src="https://i.ibb.co/4jKbGGs/logo.png" width="130" height="40" alt="logo">
  </a>
  <% if user_signed_in? %>
    <div class="btn-group dropleft">
  <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My profile
  </button>
  <div class="dropdown-menu">
    <%= link_to "Profile page", page_path(current_user), :method => :get, class:"dropdown-item" %>
    <%= link_to "See all books", books_path, :method => :get, class:"dropdown-item"  %>
    <%= link_to "Add a book", new_book_path, :method => :get, class:"dropdown-item"  %>
    <div class="dropdown-divider"></div>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item"  %>
  </div>
</div>
  <% else %>
    <a class="button-red" href="/users/sign_up">Sign Up</a>
  <% end %>
</nav>

