<nav class="navbar">
  <a class="navbar-brand" href="/home">
    <img src="https://i.ibb.co/4jKbGGs/logo.png" width="130" height="40" alt="logo">
  </a>
  <a class="navbar-brand" href="/show">
    <i class="fas fa-cog"></i> My profile
  </a>
</nav>