<div class="container d-flex flex-column my-5" style="align-items: center">

  <h1>Hello from your profile page</h2>

  <div class="info-card-background pink">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p><%= @user.address %></p>

    <% @user.books.each do |book| %>
        <ul>
          <li><%= link_to book.title, book_path(book) %></li>
        </ul>
    <% end %>
    
    
  </div>

</div>