.about-us {
    background-color: $dark-purple;
    height: 375px;
    text-align: center;
}
.about-us-text{
    h3{
        text-align: left;
        color: white;
        font-weight: lighter;
        font-size: 20px;
        padding: 50px;
      }
}