.banner {
    background-color: $purple;
    padding-top: 150px;
    padding-right: 176px;
    height: 432px;
  }
  
  .banner {
      h1{
    color: white;
    font-size: 62px;
      }
  }
  
  .banner {
      p {
    position: relative;
    font-size: 42px;
    color: white;
    top: -12px;
    left: 176px;
      }
  }
  