.button-red {
    background-color: $red;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: lighter;
    transition: 0.2s;
    &:hover{
        opacity: 0.8;
        color:white;
    }
  }

.btn-search-purple {
    color: $purple;
}

.button-red-profile {
    margin: 3vh;
    background-color: $red;
    color: #ffffff;
    padding: 22px 37px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    font-weight: lighter;
    transition: 0.3s;
    &:hover {
        opacity: 0.8;
    }
}
  a:hover{
    text-decoration: none ;
    color: white ;
}

.btn-white {
    display: inline-table;
    background-color: white;
    color: black;
    padding: 12px 32px;
    border-radius: 40px;
    border: 1px solid lightgray;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s;
    &:hover{
        opacity: 0.8;
    }
}

.go-back {
    color: $dark-purple;
  &:hover {
      opacity: 0.5;
      transition: ease-in 0.1s;
  }
}