#figure-hurray {
    height: 75%;
    position: relative;
    top: 10%;
    left: 10%;
}

#figure-reading {
    height: 35%;
}

#figure-pointing {
    height: 80%;
    position: relative;
    top: 22.6%;
    left: 18%;
}

#figure-love {
    height: 80%;
    position: relative;
    top: 35.5%;
    left: 10%;
}

#figure-desk{
    height: 200px;
    position: relative;
    right: -50px;
}

#figure-crying {
  height: 115px;
  position: absolute;
  left: 80%;
  bottom: 0%;
}

#figure-laptop {
    height: 150px;
}