#figure-hurray {
    height: 350px;
    position: relative;
    top: 30px;
    left: 30px;
}

#figure-reading {
    height: 350px;
}

#figure-pointing {
    height: 350px;
    position: relative;
    top: 82px;
    left: 75px;
}

#figure-love {
    height: 350px;
    position: relative;
    top: 138px;
}