.info-card-background{
    width: 790px;
    height: 420px;
    margin-top: 170px;
    border-radius: 4px;
}

.info-card-text{
    display: grid;
    background-color: white;
    border-radius: 4px;
    position: relative;
    bottom: 60px;
    left: 10%;
    width: 300px;
    padding: 30px;
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
    }
}

.description {
    font-size: 20px;
    padding-right: 10px;
    font-weight: 500;
    padding-top: 11px;
}

#tagline-pink {
    color: $pink;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

#tagline-yellow {
    color: $yellow;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

#tagline-green {
    color: $green;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}


.info-card-background-reversed{
    width: 790px;
    height: 420px;
    margin-top: 170px;
    border-radius: 4px;
    
}

.info-card-text-reversed{
    background-color: white;
    border-radius: 4px;
    position: relative;
    bottom: 60px;
    left: 10%;
    width: 300px;
    padding: 30px;
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
    }
}

.green{
    background-color: $green
}

.pink{
    background-color: $pink
}

.yellow{
    background-color: $yellow
}
.purple{
    background-color: $purple;
}