.info-card-background{
    width: 85%;
    height: 450px;
    margin-top: 15%;
    border-radius: 4px;
}

.info-card-text{
    display: grid;
    background-color: white;
    border-radius: 4px;
    position: relative;
    bottom: 65px;
    left: 26%;
    width: 30%;
    padding: 30px;
    h3 {
        font-size: 20px;
        font-weight: bold;
    }
}

.info-card-background-reversed{
    width: 85%;
    height: 450px;
    margin-top: 15%;
    border-radius: 4px;
    
}

.info-card-text-reversed{
    display: grid;
    background-color: white;
    border-radius: 4px;
    position: relative;
    bottom: 60px;
    left: 8%;
    width: 30%;
    padding: 30px;
    h3 {
        font-size: 20px;
        font-weight: bold;
    }
}

.description {
    font-size: 16px;
    padding-right: 10px;
    font-weight: 500;
    line-height: 1.8;
}

#tagline-pink {
    color: $pink;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

#tagline-yellow {
    color: $yellow;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

#tagline-green {
    color: $green;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

.green{
    background-color: $green
}

.pink{
    background-color: $pink
}

.yellow{
    background-color: $yellow
}
.purple{
    background-color: $purple;
}