.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-borders {
  border: solid 1px $dark-purple !important;
}

.form-borders-book {
  border: solid 1px $purple;
}

.form-borders-bookclub {
  border: solid 1px $green;
}

.form-borders-review {
  border: solid 1px $yellow;
}
