.card-offers {
  width: 120px;
  font-size: 14px;
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
}

.mapboxgl-popup-content {
  width: 240px;
  text-align: center;
  border-color: $purple;
}

.book-list {
  width: 200px;
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
}

.map-book {
  height: 108px;
}
