// Grid
.members-grid-bookclubs {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-bottom: 16px;
}
// Cards
.members-grid-card {
    overflow: hidden;
    height: 25vh;
    width: 100%; 
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    &:hover {
      opacity: 0.8;
      transition: ease-in 0.2s;
    }
    .bookclub-user-info{
        display: flex;
        padding: 50px;
        float: left;
        overflow-wrap: break-word;
        h1{
            font-size: 44px;
            font-weight: bold;
            margin-right: 26px;
        }
        p{
            i{
                margin-right: 6px;
            }
        }
    }
  }
  
  .members-grid-card > img {
    height: 100%;
    width: 35%;
    object-fit: cover;
  }
  
  .members-grid-card h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 0 0;
  }
  
  .members-grid-card p {
    font-size: 12px;
    line-height: 1.4;
    margin: 1px 0 1px 0;
  }
  
  .members-grid-card .members-grid-card-infos {
    padding: 16px;
  }

  .members-grid-card .card-bookclub-user {
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    margin-top: 8px;
  }

  .members-grid-card .user-info {
    padding-left: 12px;
  }

  .members {
    margin: 4px 0 8px 0;
  }

  .members-grid-card span {
    background-color: $yellow;
    padding: 4px;
    border-radius: 2px;
  }
