.create-thread-box {
  border-radius: 10px;
  width: 70%;
  padding: 32px;
  margin: 0 auto;
  margin-bottom: 64px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.existing-threads-box {
    border-radius: 10px;
    padding: 32px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 32px;
    background-color: white;
    position: relative;
}

.avatar-thread {
  position: absolute;
  top: 8%;
  left: 82%;
}

.header-create-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  h2 {
    font-weight: bold;
    color: $dark-purple;
  }
}

#figure-reading-thread {
  height: 130px;
}

.background-create-wrapper-thread {
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 24px;
  background-color: $green;
}


.nested-existing-threads {
  padding: 32px 32px 0 32px;
  border-radius: 10px;
  h3 {
    color: $dark-purple;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    width: 85%;
  }
  p {
    font-weight: 400;
    color: $dark-purple;
    font-size: 14px;
    text-align: justify;
    width: 85%;
    margin-bottom: 2px;
  }
}

.nested-existing-comments {
  height: 150px;
  margin-top: 32px;
  margin-bottom: 32px;
  overflow-y: scroll !important;
  padding: 0 32px 0 32px;
  border-top: solid 2px $yellow;
  border-bottom: solid 2px $yellow;;
}

.nested-create-comment-form {
  padding: 0 32px 0 32px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  margin-left: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.comment {
  border-left: solid 1px $dark-purple;
  padding: 12px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment p {
  margin-bottom: 0rem;
  font-weight: 400;
  font-size: 14px;
}

.mt-3 p {
  margin-bottom: 0rem;
}

.commenter p {
  font-size: 10px;
}

.functional-buttons {
  color: $dark-purple
}