.create-thread-box {
  border-radius: 10px;
  width: 90%;
  padding: 32px;
  margin: 0 auto;
  margin-bottom: 64px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.existing-threads-box {
  border-radius: 10px;
    padding: 24px;
    width: 90%;
    padding: 32px;
    margin-bottom: 64px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}

.avatar-thread {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-create-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  h2 {
    font-weight: bold;
    color: $dark-purple;
  }
}

#figure-reading-thread {
  height: 130px;
}

.background-create-wrapper-thread {
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 24px;
  background-color: $green;
}


.nested-existing-threads {
  border: solid 1px $purple;
  padding: 24px;
  border-radius: 10px;
}

.nested-existing-comments {
  height: 230px;
  overflow-y: scroll !important;
  // border-radius: 10px;
  // border: solid 1px rgba(100,100,100, 0.3);
  // padding: 25px;
  // margin-top: 25px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  margin-left: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.comment {
  border-radius: 10px;
  border: solid 1px $purple;
  padding: 12px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.comment p {
  margin-bottom: 0rem;
}

.mt-3 p {
  margin-bottom: 0rem;
}

.commenter p {
  font-size: 10px;
}

.form-borders {
  border: solid 1px $purple !important;
}
// .all-threads {
//   height: 1000px;
//   overflow-y: scroll !important;
// }







