<p><strong>What's on your mind?</strong></p>
<%= simple_form_for [bookclub, bookclub_thread] do |f| %>
  <%= f.input :title, placeholder: "What do you want to discuss?", input_html: { class: "form-borders" } %>
  <%= f.input :content, placeholder: "Go for it! Put down your thoughts.", input_html: { class: "form-borders" } %>
  <%= f.submit class: "btn-create-booking", value: "Post" %>
<% end %>
