<p><strong>What's on your mind?</strong></p>
<%= simple_form_for [bookclub, bookclub_thread] do |f| %>
  <%= f.input :title, placeholder: "Startups of Berlin" %>
  <%= f.input :content, placeholder: "This thread is about the Startup environement in Berlin." %>
  <%= f.submit class: "btn-create-booking"%>
<% end %>
